@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$font-family: 'Open Sans', sans-serif;
$color-a: #fff;
$color-b: #000;
$color-c: #787878;
$color-d: #5ecdd4;
$color-background-a: #2a3037;
$color-background-b: #292f36;
