.header {
  @extend %clearfix;
  max-height: 202px;
  margin-top: 77px;
  margin-bottom: 47px;
  .logo-header {
    float: left;
  }
  .sub-name {
    color: #d3d3d3;
    font-size: 15px;
    line-height: 15px;
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    top: -15px;
    left: 72px;
  }
  .social {
    float: right;
    padding: 15px 0;
  }
  .social-item {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: #2f363e;
    margin-left: 5px;
    @include border-radius(50%);
  }

}